/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store
/resources/.DS_Store
/public/css/app.css
/public/.DS_Store
/.idea/roster.iml
/.idea/php.xml
